@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "DM Sans";
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsla(40, 12%, 5%, 1);
}
